---
import BaseHead from '@/components/BaseHead'
import Header from '@/components/widgets/Header'
import Footer from '@/components/widgets/Footer'
import ProviderTheme from '@/components/ProviderTheme'
import ProviderAnimations from '@/components/ProviderAnimations'
import TwSizeIndicator from '@/components/TwSizeIndicator'
import ValueCommerce from '@/components/meta/ValueCommerce'
import GoogleAnalytics from '@/components/meta/GoogleAnalytics'
import PerformanceOptimizer from '@/components/PerformanceOptimizer'

const { title, description, image, articleDate, modifiedDate } = Astro.props
---

<html lang='ja'>
  <head>
    <PerformanceOptimizer />
    <BaseHead
      title={title}
      description={description}
      ogImage={image}
      articleDate={articleDate}
      modifiedDate={modifiedDate}
    />
    <ProviderTheme />
    <ProviderAnimations />
    <GoogleAnalytics />
    <ValueCommerce />
  </head>

  <body class='bg-white text-stone-950 dark:bg-[#0a0910] dark:text-white'>
    <main
      class='grid gap-12 overflow-hidden antialiased sm:max-w-2xl md:max-w-6xl md:overflow-visible'
      style='margin-top: 1rem;padding-left: 0.75rem;padding-right: 0.75rem;'
    >
      <Header />
      <slot />
      <Footer />
    </main>
    <slot name='mobileFooter' />
    <TwSizeIndicator />
    <style>
      body {
        margin-left: calc(100vw - 100%); /* prevent layout shift */
      }
    </style>
    <TwSizeIndicator />
    <style>
      body {
        /* フォールバック用 */
        overflow-y: scroll;
      }
    </style>
  </body>
</html>
